
           /* Sets a fixed width for the image */
    body {
        font-family: Trebuchet MS, sans-serif;     /* Sets the font for all text */
        font-size: 18px;                    /* Sets a default font size */
        color: #0d0d0d;                        /* Sets the color for all text */
        line-height: 1.4;                  /* Improves readability with spacing */
        margin: 10;
        padding: 10;
        /* img src= "triplearchnight.jpg"; */

    }
    div {
       class="list-group",color:#0d0d0d;
        
        
  
    }

    